<% if @error %>
  <font color="red"><%= @error.full_messages.join(', ') %></font>
<% end %>

<%= simple_form_for @pokemon do |f| %>
  <%= f.input :name, label: 'Pokemon name', error: 'Pokemon name is mandatory, please specify one' %>
  <%= f.collection_radio_buttons(:ndex, (1..20).map {|ndex| [ndex, ndex]}, :first, :last) do |b| %>
    <div class="pokemon-choice-container">
      <%= b.label { image_tag("pokemon/#{b.text}.png") + b.radio_button } %>
    </div>
    <% end %>
  <%= f.button :submit, class: "create-pokemon-btn" %>
<% end %>
